.Card-Discover {
    width: 100%;
    height: 550px;
    border-radius: 200px;
    cursor: pointer;

    position: relative;
    overflow: hidden;
}

.Card-Discover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px;
    /* In original case : */
    transform: rotate(10deg) scale(1.2);

    transition: 0.6s;
}

.Card-Discover:hover img {
    transform: rotate(0deg) scale(1.2);
}

.Card-Discover .card-description {
    width: 90%;
    height: 90%;
    padding: 20px;
    border-radius: 100%;
    background-color: #2125299a;
    backdrop-filter: blur(5px);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%) scale(1);
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);

    transition: 0.6s;
    cursor: pointer;
}

.Card-Discover:hover .card-description {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.Card-Discover .card-description span {
    padding: 10px 15px;
    background: var(--prim-gradiant);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.Card-Discover .card-description h2 {
    font-size: 2rem;
    font-family: var(--Urbanist-font);
    font-weight: 500;
    width: 80%;
    text-align: center;
    margin-top: 2rem;
}

/* Responsive */
@media screen and (max-width:1399px) {
    .Card-Discover {
        width: 100%;
        height: 450px;
    }

    .Card-Discover .card-description h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1199px) {
    .Card-Discover {
        width: 100%;
        height: 400px;
    }

    .Card-Discover .card-description h2 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:992px) {
    .Card-Discover {
        width: 100%;
        height: 450px;
    }

    .Card-Discover .card-description h2 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:767px) {
    .Card-Discover img {
        border-radius: 0;
        /* In original case : */
        transform: rotate(0deg) scale(1);
    }

    .Card-Discover {
        width: 100%;
        height: 550px;
        border-radius: 0;
    }
    .Card-Discover .card-description {
        border-radius: 10px;
    }

    .Card-Discover .card-description h2 {
        font-size: 1.7rem;
    }
}