.destination {
    width: 100%;
}

.opinion {
    text-align: center;
    margin-top: 5rem;
    font-size: 1.25rem;
}

.opinion a {
    text-decoration-line: underline;
}

.destination .slider_AutoScroll {
    margin-block: 5rem;

    /*  To ensure that the slices do not stick to the edge * */
    padding: 0 25px;
}

@media screen and (max-width:767px) {
    .opinion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}