.section {
    padding-block: 3rem;

    margin: 0 auto;
}

.destination {
    width: 100%;
}

.destination .opinion {
    text-align: center;
    margin-top: 5rem;
    font-size: 1.25rem;
}

.destination .opinion a {
    text-decoration-line: underline;
}

.destination .slider_AutoScroll {
    margin-block: 5rem;

    /*  To ensure that the slices do not stick to the edge **/
    padding: 0 25px;
}