.about {
    background-color: #faf5ef;
    background-image: url('../../../assets/about-bg.webp');
}

.container {
    width: 85%;
    margin: 0 auto;
    padding-inline: 50px;
}

.about .row {
    display: flex;
    justify-content: space-between;
}

.about .row .left {
    width: 42%;
}

.about .row .right {
    width: 42%;
}

.about .section-title {
    align-items: flex-start;
}

.about .section-title h2 {
    text-align: start;
}

.about .section-title p {
    width: 100%;
    text-align: start;
}


.about .about-top {
    padding-block: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.about .about-top .part-one {
    width: 100%;
}

.about .about-top .part-two {
    width: 100%;
}

.about .about-top .part-one .image {
    position: relative;
}

.about .about-top .part-one .image img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.about .about-top .part-one .image .container-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--prim-gradiant);
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about .about-top .part-one .image .container-icon .icon {
    color: var(--white);
    font-size: 2rem;
}

.about .about-top .part-two ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;

    font-family: var(--Urbanist-font);
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.about .about-top .part-two ul li {
    position: relative;
    padding-left: 30px;
}

.about .about-top .part-two ul li::before {
    content: url('../../../assets//about-check.svg');
    position: absolute;
    top: 0;
    left: 0;
}


.about .about-bottom {
    display: flex;
    align-items: center;
    gap: 30px;
}




.about .about-bottom p {
    font-family: var(--Urbanist-font);
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 600;

}

.about-image {
    position: relative;
    z-index: 1;
}

.about-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #EEDFD2;
    border-top-left-radius: 100%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: -1;
}

.about-image .about-ImgBig {
    width: 100%;
}

.about-image .about-element1,
.about-image .about-element2,
.about-image .about-element3 {
    position: absolute;
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 250px;
}

.about-image .about-element2 {
    top: 70%;
    left: 0;
}

.about-image .about-element3 {
    top: 45%;
    left: 5%;
    width: 150px;
}

/* Responsive */
@media screen and (max-width: 1778px) and (min-width: 1399px) {
    .container {
        width: 88%;
    }
    .about .row .left {
        width: 53%;
    }

    .about .row .right {
        width: 44%;
    }
}
@media screen and (max-width:1399px) {
    .container {
        width: 90%;
    }

    .about .row {
        align-items: center;
    }

    .about .row .left {
        width: 51%;
    }

    .about .row .right {
        width: 44%;
    }

    .about .about-top .part-one {
        width: 90%;
    }


    .about .about-top .part-two ul {
        font-size: 1.2rem;
    }


    .about .about-top {
        gap: 20px;
    }

    .about .about-bottom {
        gap: 20px;
    }

    .about-image .about-element1,
    .about-image .about-element2 {
        width: 180px;
    }

    .about-image .about-element2 {
        left: -20px;
        top: 80%;
    }

    .about-image .about-element3 {
        width: 130px;
    }
}

@media screen and (max-width:1199px) {
    .container {
        width: 95%;
    }

    .about .row {
        align-items: center;
    }

    .about .row .left {
        width: 48%;
    }

    .about .row .right {
        width: 48%;
    }

    .about .section-title h2 {
        font-size: 2rem;
    }

    .about .about-top {
        padding-block: 30px;
    }

    .about .about-top .part-two ul {
        font-size: 15.5px;
    }

    .about .about-bottom p {
        display: none;
    }

}

@media screen and (max-width:992px) {
    .container {
        width: 95%;
    }

    .about .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .row .left {
        width: 100%;
    }

    .about .row .right {
        width: 100%;
    }

    .about-image {
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .about .about-bottom p {
        display: block;
    }
}

@media screen and (max-width:767px) {
    .about .about-bottom p {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .container {
        width: 100%;
        padding-inline: 20px;
    }

    .about-image .about-element1 {
        width: 160px;
    }

    .about-image .about-element2 {
        width: 113px;
        left: -5px;
        top: 80%;
    }

    .about-image .about-element3 {
        left: 6%;
    }

    .about-image::after {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}
