.footer-bottom {
    width: 100%;
    height: 70px;
    padding-top: 10px;
    background-color: var(--btn-dark);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    color: var(--white);
    font-family: var(--Poppins-font);
    font-size: 15px;
}

@media screen and (max-width:1399px) {
    .footer-bottom {
        font-size: 13px;
    }
}